button{
    width: 200px;
    height: 38px;
    background-color: 
    #75009c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 0.6rem;
    text-transform: uppercase;
}
.container{
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1660506826403-eb494645a7e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container>div{
    padding: 10px;
    border-radius: 5px;
    width: fit-content;
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
span{
    color: rgb(188, 15, 110);
}
